doctype html
html
  head
    meta(name='viewport', content='width-device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')

  body
  nav.navbar.navbar-expand-lg.navbar-light.bg-light

    a.navbar-brand(href='/') Loc8r
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navMe', aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
      //- span.navbar-toggler-icon test
      //- span.navbar-toggler-icon test
    div#navMe.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/about/') About
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/about/') Test
        li.nav-item
          a.nav-link(href='/about/') Test
  .container
    block content
    block content2
  footer
    .row
      .col-xs-12
        span(style="padding: 20px;") &copy;Andre Duarte 2018
  script(src='/javascripts/jquery-3.3.1.js')
  script(src='/javascripts/bootstrap.bundle.js')
